*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }
  .heading-3--light {
    color: #f9f7f6; }
  .heading-3--dark {
    color: #54483a; }

.heading-4 {
  font-size: 1.9rem; }

.btn {
  font-size: 1.5rem;
  background-color: #c69963;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  padding: 1.8rem 3rem;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #b28451; }

.mb--sm {
  margin-bottom: 1rem; }

.mb--md {
  margin-bottom: 2rem; }

.mb--lg {
  margin-bottom: 3rem; }

.sidebar {
  background-color: goldenrod;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: gray;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: lightblue;
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-0.8rem); }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  background: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }

.story__img--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }

.story__img--2 {
  width: 115%;
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  z-index: 10;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }

.story__content {
  grid-column: col-start 5 / full-end;
  background-color: #f9f7f6;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; }

.story__text {
  font-size: 1.6rem;
  margin-bottom: 4rem; }

.homes {
  grid-column: center-start / center-end;
  margin: 8rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3rem; }
  .home__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1; }
  .home__like {
    fill: #c69963;
    width: 2.5rem;
    height: 2.5rem;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;
    margin: 1rem;
    z-index: 2; }
  .home__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 80%;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    background-color: #101d2c;
    padding: 1rem 2.5rem;
    justify-self: center;
    align-self: end;
    z-index: 3;
    transform: translateY(50%); }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem; }
  .home__btn {
    grid-column: 1 / -1; }

.gallery {
  background-color: olivedrab;
  grid-column: full-start / full-end; }

.footer {
  background-color: black;
  grid-column: full-start / full-end; }
